* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    
    background:hsl(209, 97%, 86%);
    text-align: center; 
    font-size: 2.1rem;
    color: hsl(209, 97%, 26%);
    justify-content: center;
    align-items: center;
   
    
}

.container {
 
    width: 1000px;
    margin: 0 auto;
    margin-right: 20rem;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 150%;
    padding: 5rem 0;
    
  }

img {
    width:  25rem;
    height: 40rem;
}

h1 {
    margin: 0;
    font-size: 10rem;
}
h1 > span {
    color: hsl(329, 100%, 49%);
}

h2 {
    margin: 1rem;
    font-size: 4rem;
}



header {
    width: 100%;
    margin: 0 auto;
}

header > p {
    font-weight: bold;
    color:  hsl(209, 97%, 26%);
}

header > span {
    font-size:10rem;
}



.cat-basket {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 100%;
    margin: 0 auto;
    padding: 7rem 20rem;
  
   
}


.card,
.picture {
    border-radius: 10px;
}

.card {
    width: 30rem;
    /* height: 50rem; */
    padding-top: 1em;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    background: hsl(329, 80%, 79%);
    color: white;
    cursor: pointer;
    font-size: 80%;
   
}


.card:hover {
    background: hsl(209, 97%, 46%);
   
}



.cat-img {
    /* width: 55rem;
    max-height: 66%; */
    margin: 0 auto;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
}


.image-name {
    margin-top: 2rem;
    font-size: 150%;
    color:pink;
 }


 
@media only screen and (min-width: 400px){ 
    .container {
       /* padding: 4em; */
       width: 1000px;
       margin: 0 auto;
    }

    .cat-basket {
            width:100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5em;
            margin: 0 auto;
            /*background-color: blue;*/
            padding: auto;
            
            /* padding: 7rem 10rem; */
    }
        
    .card {
        width: 14em;
    } 

    
    img {
        width:  12em;
        }


}


@media only screen and (min-width: 768px){ 
    .container {
       /* padding: 4em; */
       width: 1000px;
       margin: 0 auto;
    }

    .cat-basket {
            width:100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5em;
            margin: 0 auto;
            /*background-color: mediumvioletred;*/
            padding: 4em 3em;
           
    }
        
    .card {
        width: 15em;
    } 


}




@media only screen and (min-width: 1024px){ 
    .container {
        width: 100%;
       margin: 0 auto;
     
    }

    .cat-basket {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5em;
            /* margin: 0 auto; */
            padding: 7rem ;
            
            }
            

    .card {
        width: 22em;
        padding: 1em;
    } 

    img {
        width:  15em;
    }
}